
body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10% 87% 3%;
    margin: 0;
    background-image: url(./images/bg.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 0px;
    
}

a {
    color: #D26800;
}
a:visited{
    color: #774E87 ;
}
    /*header*/

@keyframes anim_header {
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}

header {
    grid-column: 1 / 4 ;
    grid-template-columns: 1fr 5fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    display: grid;
    background-color: #D26800;
    padding-bottom: 0vh;
    color: black;
    position: sticky;
    top: 0px;
    z-index: 1000;
    animation: anim_header 0.5s;
    max-height: 200px;
    min-height: 200px;
    background: radial-gradient(#D26800, black);
}

h1 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    
}
h1 img{
    max-width: 100px;
    max-height: 100px;
}
img:first-of-type  {
border-radius: 5%;
}

.multi-button {
    grid-column: 2;
    grid-row: 2;    
    margin: auto;
    margin-bottom: 0%;
    display: flex;
}
    

.multi-button input {
    border: solid 1px black;
    background-color: #774E87 ;
    width: 9vw;
    height: 8vh;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}



.multi-button:hover input:hover {
    background-color: black;
    color: #D26800;
    width: 15vw;

}

/*Content*/
main{
    grid-column: 2;
    grid-row: 2;
}
article, form{
    
    background-color: black;
    opacity: 0.90 ;
    padding: 2.5em;
    border: #a570b9 solid 1px ;
    border-radius:3em ;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-size: cover;
}

ul {
    list-style-type: none;
}

@keyframes anim_nav_bar{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}

 /*CSS contact start*/

form {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    margin: auto;
    margin-top: 17%;
}

h2 {
    text-align: center;
    color: #774E87 ;
}
form input, form label, form textarea{
    text-align: center;
    margin: 2%;
    
}

/*CSS contact end*/

#erreur{
    grid-column: 2;
    grid-row: 2;    
    margin-bottom: 25%;
    margin-top: 12%;
    padding-bottom: 1%;
    text-align: center;
    
}
nav {
    background-color: black;
    opacity: 0.95;
    border: solid 1px #a570b9;
    border-radius: 3em;
    margin-bottom: 100em;
    margin-top: 20em;
    grid-column: 1;
    grid-row: 2;
    position: fixed;
    padding-right: 3em;
    animation: anim_nav_bar 1s;
    

}
div:target {
    padding-top: 12em; 
    margin-top: -12em; 
}
p, h1, h2, h3, nav{
    font-family: Arial, Helvetica, sans-serif;
}

 /*footer*/

 footer {
    background-color: #D26800 ;
    grid-column: 1 / 4;
    grid-row: 3;
    text-align: center;
    max-height: 100px;
    min-height: 50px;
    background: radial-gradient(#D26800, black);
    margin-top: 5%;
 }

